################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/v15
/ExerciseBuilder/obj/Debug
/ExerciseBuilder/bin/Debug
/No13_FluentBuilder/obj/Debug
/No13_FluentBuilder/bin/Debug
/No14_FacetedBuilder/obj/Debug
/No14_FacetedBuilder/bin/Debug
/RoomBuilder/obj/Debug
/RoomBuilder/bin/Debug
